{{ $serviceWorkerScope := printf "/%v/" (path.Base .Site.BaseURL) }}
{{ $serviceWorker := resources.Get "js/auth/authServiceWorker.ts" | babel | js.Build (dict "targetPath" "/authServiceWorker.js") }}

<script>
    // Register auth service worker
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('{{ $serviceWorker.RelPermalink }}', {scope: '{{ $serviceWorkerScope }}', origins: ['*']}).then(function(_registration) {
                console.log('ServiceWorker registration successful!')
            }, function(err) {
                console.log('ServiceWorker registration failed: ', err);
            })
        })
    }
    // Redirect to login page if not authenticated
    if (!/\/login?./.test(window.location.pathname) && !window.localStorage.getItem('isAuthenticated')) window.location = '{{ $.Site.BaseURL }}/login'

</script>

{{ $env := cond .Site.IsServer "\"development\"" "\"production\"" }}
{{ $opts := dict "defines" (dict "process.env.NODE_ENV" $env) }}

{{ if .HasShortcode "api-docs" }}
  {{ $apiDocs := resources.Get "js/apiDocs.ts" | babel | js.Build $opts }}
  <script src="{{ $apiDocs.RelPermalink }}"></script>
{{end}}
{{ if .HasShortcode "pong" }}
    {{ $pong := resources.Get "js/pong.ts" | babel | js.Build $opts }}
    <script src="{{ $pong.RelPermalink }}"></script>
{{end}}

{{ $login := resources.Get "js/login.ts" | babel | js.Build $opts }}
{{ $logoutButton := resources.Get "js/logoutButton.ts" | babel | js.Build $opts }}

{{ $jsBundle := slice $login $logoutButton | resources.Concat "js/bundle.js" }}

<script src="{{ $jsBundle.RelPermalink }}"></script>
