{{ $serviceWorkerScope := printf "/%v/" (path.Base .Site.BaseURL) }}

<script>
    // Register auth service worker
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('{{ "authServiceWorker.js" | absURL }}', {scope: '{{ $serviceWorkerScope }}', origins: ['*']}).then(function(_registration) {
                console.log('ServiceWorker registration successful!')
            }, function(err) {
                console.log('ServiceWorker registration failed: ', err);
            })
        })
    }
    // Redirect to login page if not authenticated
    if (!/\/login?./.test(window.location.pathname) && !window.localStorage.getItem('isAuthenticated')) window.location = '{{ $.Site.BaseURL }}/login'

</script>

{{ if .HasShortcode "api-docs" }}
  <script src='{{ "assets/apiDocs.js" | absURL }}'></script>
{{end}}

<script src='{{ "assets/main.js" | absURL }}'></script>
